# Ignorar archivos generados por Python
*.pyc
__pycache__/

# Ignorar el archivo de base de datos SQLite
*.sqlite3

# Ignorar el directorio de migraciones
/cursosit/migrations/

# Ignorar directorios específicos dentro de las aplicaciones
/app_cursosit/__pycache__/
/app_cursosit/migrations/*
/cursosit/__pycache__/

/cursosit/app_cursosit/migrations/

# Ignorar directorios de archivos estáticos compilados
/cursosit/staticfiles/