{% extends 'base.html' %}


{% block main %}
<h1>Perfil Profesor</h1>
<div class="container">
    <div class="row">
        <div class="col">
            {% for curso in cursos %}
            <div class="card mb-4" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{curso.nombre }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'curso_detalle' curso.id %}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main%}